* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", sans-serif;
}

a:link {
    text-decoration: none;
    color: #000000;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
    display: flex;
}

.navigation {
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Gilroy-SemiBold';
font-size: 14px;
line-height: 16px;
font-weight: bold;
}

.nav_link:hover {
color: #F25822;
}

.main_content {
    padding-top: 84px;
    padding-bottom: 162px;
    display: flex;
    gap: 40px;
}

.heading {
    font-family: 'Gilroy-Bold';
font-size: 60px;
line-height: 70px;
margin-bottom: 17px;
}

.main_text {
    margin-bottom: 37px;
    font-family: 'Gilroy-Medium';
font-size: 20px;
line-height: 23px;
color: #888888;
}

.start_btn {
    border: none;
    padding: 15px 36px 16px 35px;
    background: #F25822;
box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
border-radius: 50px;
font-family: 'Gilroy-Bold';
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
margin-right: 72px;
}

.video_btn {
    border: none;
    font-family: 'Gilroy-Bold';
font-size: 15px;
line-height: 18px;
color: #AAAAAA;
background: #FFFFFF;
}

.main_logo {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.benefits {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.benefit_item {
    width: 310px;
    padding: 40px 30px 25px 30px;
    display: flex;
    flex-direction: column;
}

.benefit_item:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.benefit_pic {
    width: 70px;
height: 70px;
background: rgba(242, 88, 34, 0.25);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;
}

.ben_pic_2 {
    background: rgba(20, 146, 17, 0.28);
}

.ben_pic_3 {
    background: rgba(255, 205, 29, 0.24);
}

.benefit_subtitle {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
line-height: 28px;
margin-bottom: 17px;
}

.benefit_item_text {
    font-family: 'Gilroy-Regular';
font-size: 15px;
line-height: 150%;
color: #666666;
margin-bottom: 25px;
}

.benefit_link {
    font-family: 'Gilroy-Bold';
    font-weight: bold;
font-size: 11px;
line-height: 16px;
color: #000000;
}

.services {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_title {
    font-family: 'Gilroy-Bold';
font-size: 45px;
line-height: 53px;
text-align: center;
margin-bottom: 19px;
}

.services_text {
    width: 682px;
    font-family: 'Gilroy-Regular';
font-size: 16px;
line-height: 150%;
text-align: center;
color: #666666;
margin-bottom: 54px;
}

.services_list {
    display: flex;
    gap: 30px;
}

.services_item {
    width: 310px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 295px 30px 50px 30px;
}

.serv_item_1 {
    background: #FFFFFF url("img/servicespic1.png") no-repeat center top;
}

.serv_item_2 {
    background: #FFFFFF url("img/servicespic2.png") no-repeat center top;
}

.serv_item_3 {
    background: #FFFFFF url("img/servicespic3.png") no-repeat center top;
}

.services_item_title {
    font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 28px;
margin-bottom: 22px;
}

.services_item_text {
    font-family: 'Gilroy-Regular';
font-size: 15px;
line-height: 150%;
text-align: center;
color: #AAAAAA;
margin-bottom: 39px;
}

.services_item_link {
    background: #F25822;
box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
border-radius: 50px;
padding: 15px 36px 15px 46px;
color: #FFFFFF;
}

